<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729627349752-qmhcvqifh1oa0h5geqn9cp8jhgnufkir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729627349752-qmhcvqifh1oa0h5geqn9cp8jhgnufkir</string>
	<key>API_KEY</key>
	<string>AIzaSyBjK9AEt8Xw28k-KfIQRrRacBdkrsQ_KDM</string>
	<key>GCM_SENDER_ID</key>
	<string>729627349752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6ea7b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6ea7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729627349752:ios:c272de1e043033d338610d</string>
</dict>
</plist>